* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: naruto;
  src: url(./Font/njnaruto.ttf);
}

/*@font-face {
  font-family: nova
  src: url(./Font/);
}*/
body {
  /*background: #879DB4;*/
  background: #0F1828;
  font-family: Arial;
  padding: 0px 1.5% 0px 1.5%;
}

.menu {
  background: #0F1828;
  /*background: gray;*/
  display: grid;
  grid-template-columns: 30vw 33vw 36vw;
  text-align: center;
  position: fixed;
  padding: 1.5% 0% 1.5% 0%;
}

p {
  /*border-radius: 0%;*/
  /*background: gray;*/
  /*padding: 0em 0em 0em 0em;*/
}

a {
  /*color: #05432C;*/
  /*color: #0C6D99;*/
  color: whitesmoke;
  text-decoration: none;
  padding: 5% 0em 5% 0em;
  font-size: 1.2em;
  /*background: gray;*/
}

.parte {
  background-image:
    url("./Img/360 black android.png");
  background-size: 92vw auto;
  /*background-size: 92vw 57vh;*/
  padding: 0px 0px 11vh 0px;
  border-radius: 2%;
}

.AB {
  color: #CAFFF2;
  text-align: center;
  padding: 1.3em 0px 0.4em 0px;
  font-size: 2.5em;
  /*font-family: naruto;*/
  font-family: nova2;
}

.BC {
  background: white;
  text-align: center;
  font-style: italic;
  width: 100%;
}

.CD {
  color: white;
  padding: 0px 0px 0px 1%;
}

.imagens {
  display: grid;
  /*grid-template-columns: 204px 80px;*/
  grid-template-columns: 70vw 20%;
}

.foto1 {
  /*padding: 12% 0px 0px 6%;*/
  margin: 9% 0px 0px 6%;
  height: 100px;
  width: 80px;
  border-radius: 5%;
}

.foto2 {
  margin: 0px 0px 0px 0px;
  height: 100px;
  width: 100px;

}

.ler1 {
  font-size: 45%;
  margin: 0px 0px 0px 9.5%;
  color: white;
}

.ler2 {
  font-size: 7px;
  margin: -20px 0px 0px 34px;
  /*padding: 0px 40px 0px 40px;*/
  /*border: 40px 40px 40px 40px;*/
  color: white;
}

.testando {
  /*background: darkgrey;*/
  background-image: url("./Img/480 linhas.jpg");
  background-size: 100vw auto;
  padding: 0px 0px 50% 0px;
  border-radius: 2%;
}

.testando2 {
  background: #173A44;
  padding: 0px 0px 50% 0px;

}